.device-container {
  border: 1px solid #e6e8e8;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}
.device-container h2 {
  color: #006d85;
  font-weight: 900;
}

.device-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px 0;
  border: 1px solid #e6e8e8;
}

.divider {
  border: 1px solid #d8dfdf;
  margin-left: -20px;
  margin-top: 0;
  margin-bottom: 20px;
  width: calc(100% + 37px);
}

@media (max-width: 768px) {
  .device-container {
    border: none;
    margin: 0 0px;
    padding: 0px;
  }

  .device-container p {
    font-size: 20px;
  }
}
